.fab-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 50px;
  background: linear-gradient(135deg, #6366f1 0%, #06b6d4 100%);
  border: none;
  box-shadow: 0 4px 15px rgba(6, 182, 212, 0.4);
  cursor: pointer;
  z-index: 1000;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.fab-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(6, 182, 212, 0.6);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  padding: 20px;
}

.modal-content {
  color: #ffffff;
  background: #1c1c1c;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #2e2e2e;
  h2 {
    background: linear-gradient(to right, #6366f1, #07c3e4);
    -webkit-background-clip: text; /* Corta el fondo con la forma del texto */
    -webkit-text-fill-color: transparent; /* Hace el texto transparente para ver el fondo */
    background-clip: text;
    text-align: center;
  }
  &.gasto {
    border: 2px solid #af0c0c50;
  }
  &.ingreso {
    border: 2px solid #4daf0c50;
  }
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #2e2e2e;
  border: 1px solid #3e3e3e;
  color: white;
  border-radius: 10px;
}

.modal-title {
  display: flex;
  gap: 5px;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 1rem;
  &.gasto span {
    color: #ef4444;
    border-color: #ef4444;
  }
  &.ingreso span {
    color: #22c55e;
    border-color: #22c55e;
  }
}

.type-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.selector-btn {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #3e3e3e;
  background: #2e2e2e;
  color: #94a3b8;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-group {
  span {
    margin-bottom: 15px;
    font-size: 10px;
  }
  .input-description {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    min-height: 45px; /* Un poco más alto para que sea fácil tocar en el S24 */
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #3e3e3e;
    background: #2e2e2e;
    color: white;
    box-sizing: border-box; /* Asegura que el padding no lo ensanche de más */
  }
}

/* Estado Activo para Gasto */
.selector-btn.gasto.active {
  background: rgba(239, 68, 68, 0.2);
  color: #ef4444;
  border-color: #ef4444;
}

/* Estado Activo para Ingreso */
.selector-btn.ingreso.active {
  background: rgba(34, 197, 94, 0.2);
  color: #22c55e;
  border-color: #22c55e;
}
.modal-actions {
  display: flex;
  justify-content: space-between;
  .btn-save {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 50px;
    background: linear-gradient(135deg, #6366f1 0%, #06b6d4 100%);
    border: none;
    box-shadow: 0 4px 15px rgba(6, 182, 212, 0.4);
    cursor: pointer;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
  }

  .btn-save:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(6, 182, 212, 0.6);
  }

  .btn-cancel {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 50px;
    background: linear-gradient(135deg, #6366f1 0%, #d40606 100%);
    border: none;
    box-shadow: 0 4px 15px rgba(212, 6, 6, 0.4);
    cursor: pointer;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
  }

  .btn-cancel:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(212, 6, 6, 0.6);
  }
}

.modal-content.delete-confirm {
  text-align: center;
  border: 1px solid rgba(239, 68, 68, 0.4); /* Borde rojo sutil */
  max-width: 300px;
}

.modal-icon-warning {
  font-size: 40px;
  margin-bottom: 10px;
}
.modal-title-delete {
  font-size: 25px;
  margin-bottom: 10px;
}

.modal-actions-horizontal {
  display: flex;
  gap: 12px;
  margin-top: 25px;
  width: 100%;
}

.btn-confirm-delete {
  flex: 1;
  background: linear-gradient(135deg, #ef4444 0%, #7f1d1d 100%);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
.btn-confirm-delete:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(212, 6, 6, 0.6);
}

.btn-cancel-modal {
  flex: 1;
  background: #2e2e2e;
  color: #94a3b8;
  border: 1px solid #3e3e3e;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
.btn-cancel-modal:hover {
  transform: scale(1.05);
  background: #0fb8b81a;
  box-shadow: 0 2px 10px rgba(6, 181, 212, 0.6);
}

/* Ajuste para el S24 (pantalla angosta) */
@media (max-width: 500px) {
  .fab-button {
    bottom: 20px;
    right: 20px;
    padding: 10px; /* Solo el icono para ganar espacio */
  }
  .fab-text {
    display: none; /* Ocultamos el texto en móvil muy pequeño */
  }
}
