.brand-title {
  display: flex;
  gap: 4px;
  align-items: center;

  font-family: Bricolage Grotesque;
  text-shadow: 1px 1px 2px #08cef149;
  /* asdsa */
  font-size: 2.2rem;
  font-weight: 800; /* Extra bold para que el degradado luzca mejor */
  letter-spacing: -0.5px;

  /* Efecto de Degradado */
  background: linear-gradient(to right, #6366f1, #07c3e4);
  -webkit-background-clip: text; /* Corta el fondo con la forma del texto */
  -webkit-text-fill-color: transparent; /* Hace el texto transparente para ver el fondo */
  background-clip: text;

  svg {
    transform: scale(1.35);
  }
}

@media (max-width: 768px) {
  .brand-title {
    font-size: 1.7rem;
    padding: 0px;
    svg {
      transform: scale(1.2);
    }
  }
}
