@import "tailwindcss";

@theme {
  --color-brand-primary: #6366f1;
  --color-brand-bg: #f8fafc;
  --radius-card: 2rem;
}
body {
  font-family: Bricolage Grotesque !important;
}
/* !Cargando Perfil */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  h2 {
    margin-top: 0.2rem;
    font-size: 1.2rem;
    color: #94a3b8;
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
  }
}

/*! Login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  .login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    h2 {
      font-size: 30px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Bricolage Grotesque;
      color: #08afbe;
      text-shadow: 3px 3px 5px #000000;
      letter-spacing: -0.5px;
      svg {
        transform: scale(1.5);
        margin-right: 10px;
      }
    }
    p {
      margin-bottom: 1rem;
      font-size: 15px;
      color: #94a3b8;
    }
    input {
      padding: 0.75rem;
      margin-right: 15px;
      border: 1px solid #2e2e2e;
      border-radius: 0.5rem;
      font-size: 1rem;
      outline: none;
      &:focus {
        border-color: #6366f1;
        box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
      }
    }
    button {
      padding: 0.75rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      background-color: #6366f1;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #4f46e5;
      }
    }
  }
}

/*! Vincular Telegram */
.card {
  padding: 2em;
  background: white !important;
  border-radius: 10px;
  button {
    background-color: #6366f1;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #4f46e5;
    }
  }
}

/*! Estilos Globales */
body {
  background-color: #121212;
  color: #1e293b;
  font-family: "Manrope", sans-serif;
}

.resumen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px; /* O el ancho que prefieras */
  margin: 0 auto;
  padding: 0 1rem; /* Margen interno para que no toque los bordes */
}
.resumen-cards {
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
  display: grid;
  /* - auto-fit: ajusta tantas columnas como quepan.
     - minmax(300px, 1fr): cada tarjeta mide mínimo 300px. 
       Si no caben a lo ancho, bajarán automáticamente.
  */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Espacio entre las tarjetas */
}

.Balance {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1c1c1c;
  color: #fafafa;
  border: 1px solid #2e2e2e;
  border-radius: 20px;
  padding: 1.5rem;
  /* Eliminamos width: 30% para que el Grid controle el tamaño */
  width: 100%;
  transition: transform 0.2s ease;
}

/* Efecto opcional para que se sienta más Pro */
.Balance:hover {
  transform: translateY(-5px);
  border-color: #006d77; /* Tu color accent */
}
.BalanceTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff; /* O el color de tu texto dark */
    line-height: 1.2;
  }
  svg {
    transform: scale(1.3);
  }
}
.eye-btn {
  display: flex;
  gap: 10px;
}
.mini-eye {
  background: transparent;
  border: none;
  color: #94a3b8;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}
.mini-eye:hover {
  color: #08afbe;
}

.amount {
  font-size: 28px;
  font-weight: 600;
}
.spent {
  font-size: 28px;
  font-weight: 600;
  color: #ef4444;
}
.saving {
  font-size: 28px;
  font-weight: 600;
  color: #10b981;
}

/* Ambas deben tener el mismo comportamiento de ancho */
.resumen-cards,
.tickets {
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding no sume ancho extra */
}

.tickets {
  width: 100%; /* Esto hará que use el mismo ancho que el contenedor de las cards */
  max-width: 1400px; /* Debe ser igual al max-width de .resumen-cards */
  margin-top: 20px;
  color: #ffffff;
  border: 2px solid #2e2e2e;
  border-radius: 20px;
  overflow: hidden; /* Importante para que el fondo no se salga de las esquinas redondeadas */
  .tituloGastos {
    background-color: #1c1c1c;
    border-radius: 20px 20px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px;
  }
  .tickets-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1c1c1c;
    border-radius: 20px 20px 0px 0px;
    .tickets-buttons {
      display: flex;
      gap: 5px;
    }
    .tickets-button {
      background-color: #6366f1;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .btn-add {
      padding: 0px 16px;
    }

    .tickets-button:hover {
      background-color: #4f46e5;
    }
  }
  .header {
    background-color: #2e2e2e;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    /* gap: 1rem; */

    overflow: hidden;
    h1 {
      text-align: center;
      font-size: 20px;
    }
  }
  .ticket,
  .ticketDetalle {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    border-radius: 0px 0px 20px 20px;
    article {
      text-align: center;
      border-top: 2px solid#2e2e2e;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 30px 20px;

      &.is-hidden {
        display: none;
      }
      article .descripcion-texto {
        font-size: 20px;
        align-self: center;
        white-space: nowrap; /* Evita que el texto salte de línea */
        overflow: hidden; /* Esconde lo que sobra */
        text-overflow: ellipsis; /* Agrega los "..." al final */
        width: 100%; /* Ocupa el ancho de su columna del grid */
        max-width: 200px; /* Ajusta este valor según el ancho de tu columna */
      }
      .descripcion-texto::first-letter {
        text-transform: uppercase;
      }
      .fecha-registro {
        font-size: 16px !important;
        font-weight: 600;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        letter-spacing: 0.5px;
        position: relative;
      }

      /* Efecto opcional: poner la hora un poco más suave que la fecha */
      .fecha-registro::after {
        content: "hrs";
        left: 100%;
        font-size: 10px;
        color: #038b97; /* Tu color accent Teal */
        text-transform: uppercase;
        margin-left: 4px;
      }
      .category {
        font-size: 18px;
        /* background: #2e2e2e; */
        width: fit-content;
        padding: 4px 12px;
        border-radius: 9999px;
        justify-self: center;
        /* background-color: rgba(0, 109, 119, 0.1); */
        color: #12ccdd; /* Tu Teal principal */
        /* border: 1px solid #0db3c27a; */
        align-self: center;
      }
      /* Estilo específico SOLO para la categoría Otros */
      .category.Otros {
        /* Creamos el efecto de líneas diagonales */
        color: #697fa1 !important;
        opacity: 1 !important;
        background: repeating-linear-gradient(
          45deg,
          rgba(19, 135, 189, 0.2),
          /* Tu color de Otros con transparencia */ rgba(105, 127, 161, 0.2) 2px,
          transparent 2px,
          transparent 4px
        ) !important;

        /* Opcional: un borde punteado para reforzar el estilo "distinto" */
        border-style: dashed;
      }
      .category.Ingreso {
        background: linear-gradient(
          135deg,
          rgba(34, 197, 94, 0.2) 0%,
          rgba(34, 197, 94, 0.05) 100%
        ) !important;
        border: 1.5px dashed #22c55e !important;
        color: #11ff68 !important;
        box-shadow: 0 0 10px rgba(34, 197, 94, 0.1); /* Brillo sutil */
        font-weight: 800;
        letter-spacing: 0.5px;
      }
      span {
        font-size: 24px;
        font-weight: 600;
        align-self: center;
      }
    }
  }
}
.charts-grid {
  width: 100%;
  max-width: 1400px; /* DEBE ser igual al max-width de .resumen-cards y .tickets */
  margin: 0 auto; /* Centra el bloque */
  display: grid;
  /* Forzamos a que ocupe todo el ancho disponible */
  grid-template-columns: 1fr 1.5fr;
  gap: 15px;
  padding: 1rem;
  box-sizing: border-box;
}

.chart-card {
  width: 100%; /* Ocupa el 100% de .charts-grid */
  background-color: #1c1c1c;
  border: 1px solid #2e2e2e;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cake {
  padding: 1.5rem 1.5rem 2.5rem 1.5rem !important;
}

.chart-header h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff; /* Blanco para que se vea */
  text-align: center;
}

.chart-header p {
  font-size: 15px;
  color: #94a3b8; /* Gris claro para el subtítulo */
  text-align: center;
  margin-bottom: 20px;
}

.chart-content {
  width: 100%;
  height: 300px; /* Altura fija para que Recharts calcule bien */
  display: flex;
  justify-content: center;
}

/* graficos vista movil*/

text {
  &:hover {
    border: none !important;
    outline: none !important;
    outline-offset: none !important;
  }
  &:focus {
    border: none !important;
    outline: none !important;
    outline-offset: none !important;
  }
  &:active {
    border: none !important;
    outline: none !important;
    outline-offset: none !important;
  }
}

/* Esto elimina el borde naranja en cualquier parte del gráfico */
.recharts-wrapper *:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Específicamente para evitar el destello en dispositivos móviles */
.recharts-surface {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.toast-notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 600;
  z-index: 3000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

  /* Animación de entrada */
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    bottom: 20px; /* Empezamos más abajo */
    opacity: 0;
  }
  to {
    bottom: 80px; /* Terminamos donde queremos que se quede */
    opacity: 1;
  }
}

/* --- RESPONSIVE DESIGN --- */
@media (max-width: 950px) {
  .charts-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  /* 1. Navbar: De horizontal a vertical o compacta */

  .login {
    input {
      margin-bottom: 15px;
    }
  }

  /* 2. Resumen Cards: Asegurar que bajen */
  .resumen-cards {
    grid-template-columns: 1fr; /* Una sola columna en móvil */
    padding: 0.5rem;
  }

  .resumen-cards,
  .tickets {
    width: 95%; /* Deja un pequeño aire a los costados */
    padding: 0;
    padding-top: 15px;
  }

  /* 3. Tickets: El gran cambio */
  .tickets {
    margin: 10px;
    border: none;
    .tituloGastos {
      font-size: 20px;
      padding: 8px 0px;
    }
  }

  .tickets .header {
    display: none; /* Escondemos el header de la tabla en móvil */
  }

  /*! dashboard */

  /* 3. Tickets: El gran cambio */

  .tickets {
    margin: 10px;
    border: none;
    .tituloGastos {
      font-size: 20px;
      padding: 8px 0px;
    }
  }

  .tickets .header {
    display: none; /* Escondemos el header de la tabla en móvil */
  }

  .tickets .ticket article {
    text-align: center;
    border-top: 2px solid #2e2e2e;
    display: grid;
    /* 1.5fr: Más espacio para la fecha y hora.
     2.5fr: Mucho más espacio para la descripción.
     1fr: Espacio estándar para categoría.
     1fr: Espacio estándar para monto.
  */
    grid-template-columns: 1.5fr 2.5fr;
    padding: 20px;
    gap: 15px; /* Espacio entre columnas */
    align-items: center;
  }

  .fecha-registro {
    font-size: 16px !important;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap; /* Evita que la fecha y hora se separen en dos líneas */
    justify-self: start; /* Alinea al inicio de su celda */
    text-align: left;
  }

  /* Reordenamos los elementos del ticket para que se lean bien */

  .tickets .ticket article p:nth-child(1) {
    grid-column: 1 / 2;
    font-size: 14px;
    color: #94a3b8;
  }

  .tickets .ticket article span {
    grid-column: 2 / 3;
    text-align: right;
  }

  .tickets .ticket article p:nth-child(2) {
    grid-column: 1 / 3; /* Descripción ocupa todo el ancho */
    white-space: normal; /* Permitimos que salte de línea en móvil */
    max-width: none;
    font-size: 16px;
    white-space: normal;
    word-break: break-word;
    justify-self: start;
    text-align: justify;
  }

  .tickets .ticket article .category {
    grid-column: 1 / 3;
    font-size: 14px;
    background: #2e2e2e;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 15px;
    justify-self: start;
  }

  .toast-notification {
    font-size: 15px;
    padding: 12px 24px;
    width: 220px;
  }
}

/* Ajuste extra para pantallas muy pequeñas (iPhone SE, etc) */
@media (max-width: 480px) {
  .BalanceTitle h1 {
    font-size: 20px;
  }
  .amount,
  .spent,
  .saving {
    font-size: 24px;
  }
  .btn-logout span:last-child {
    display: none;
  } /* Solo icono para el logout */
  .toast-notification {
    font-size: 15px;
    padding: 12px 24px;
    width: auto;
  }
}

@media (max-width: 361px) {
  .chart-card {
    padding: 1rem; /* Bajamos de 2rem a 1rem */
  }

  .resumen-cards {
    gap: 10px; /* Juntamos un poco más las tarjetas */
  }

  .legend-cake {
    font-size: 13px !important;
  }
  .tituloGastos {
    font-size: 17px !important;
  }
  .btn-detalle {
    padding: 4px 10px !important;
  }
  .toast-notification {
    width: 90%; /* Ocupa casi todo el ancho pero con margen */
    text-align: center;
    font-size: 13px;
  }

  /* 4. LA DESCRIPCIÓN (Hijo 3): Antes era nth-child(2) */
  /* .tickets .ticketDetalle article p:nth-child(3) {
    padding-right: 45px;
  } */
}
